<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.whitipet.droidisland">

	<permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
	<queries>
		<intent>
			<action android:name="android.intent.action.MAIN"/>
		</intent>
	</queries>

	<application
		android:label="Droid Island"
		android:supportsRtl="true"
		android:theme="@style/Theme.DroidIsland">

		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:screenOrientation="fullSensor">

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<service
			android:name=".OverlayService"
			android:enabled="true"
			android:exported="true"
			android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

			<intent-filter>
				<action android:name="android.accessibilityservice.AccessibilityService"/>
			</intent-filter>

			<meta-data
				android:name="android.accessibilityservice"
				android:resource="@xml/accessibility_service_config"/>
		</service>

		<service
			android:name=".NotificationListenerService"
			android:exported="true"
			android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

			<intent-filter>
				<action android:name="android.service.notification.NotificationListenerService"/>
			</intent-filter>
		</service>
	</application>
</manifest>